header{
    background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40), lightblue);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    line-height: 0px;
    /* padding: 4px;  */
    gap: 2rem;

}
.headerInner{
   display: flex;
   gap: 3rem;
   list-style: none;
}
.headerInner a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.headerSelect{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.select-proper{
    border: none;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40));
    outline: none;
}
.select-proper option{
    color: black;
}
/* THE SECOND NAV LINK */
.header2{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}
.ul-second{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
}
.ul-second a{
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}

/* HIDDEN DIVS */
.hovers{
    background: #D42E12;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    height: 40px;
    padding: 8px;
    width: 280px;
    border-radius: 6px;
    cursor: pointer;
}
.hidden-div{
    display: none;
    color: black;
    background: white;
}
.hidden-div h5{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.hidden-flex{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 10rem;
}
.selectbunch{
    display: flex;
    align-items: center; 
    gap: 4rem;
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.div{
    display: none;
    color: black;
    background: white;
   
} 
.dropbtn {
    background-color: #D42E12;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #D42E12;}
.div2{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 4rem;
} 
.ubanigeria{
    list-style: none;
}
.ubanigeria a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px; 
    /* gap: 3rem; */
    
}
.innitiative{
    display: flex;
    gap: 3rem;
    align-items: center;
}
/* FIRST HIDDEN DIV */
.btn1{
    display: none; 
    text-align: center;
    background: white;
    line-height: 70px;

}
.btn2{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(198, 197, 197);
}
/* FIRST HIDDEN DIV ENDED HERE */
.personal{
    background: none;
}
.about-hove{
    background: none;
}
.nav2{
    display: grid;
}
.main-logo{
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}
.nav2 h5{
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: white;
    margin-left: -3rem;
}
/* FIRST SECTION */

.first-section{
     margin-top: 15rem; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20rem; 
}
.first-side{
    line-height: 20px;
}
.first-side h3{
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.first-side h5{
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-get-started{
    width: 200px;
    height: 50px;
    background: #D42E12;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}
/* SECOND SECTION */
.second-section{
    display: grid;
    text-align: center;
    /* line-height: 0px; */
}
.second-section h3{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.second-section h4{
    font-size: 20px;
    margin-top: -12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.img-second-section{
    display: flex;
}
/* THIRD SECTION FOR SUPPORT */
.texts{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.text-control{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* THE COVER picture */
.ubafifth{
    margin-top: 4rem;
}
/* FOURTH SECTION */
.download{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.download-btn h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn h5{
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn button{
    width: 200px;
    height: 40px;
    background: #D42E12;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
/* ANOTHER SECTION */
.section-help{
    display: grid;
    text-align: center;
  margin-bottom: 4rem;
}
.section-help h4{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-help p{
    margin-top: -1.4rem;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
/* FIFTH SECTION */
.questions{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.migration-heading{
    display: flex;
    gap: 2rem;
}
.btns{
    width: 180px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    box-shadow: 0.3px 0.3px 0.3px 0.5px rgb(222, 212, 212);
    cursor: pointer;
}
.mig-questions{
    line-height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* FOOTER HEADING */
.f-heading{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    background: #D42E12;
}
.f-heading h3{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
footer{
    background: linear-gradient(rgb(0, 0, 0), rgb(62, 55, 55));

}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 6rem;
    color: white;
}

.section-nav h3{
    margin-left: 35px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ul-footer{
    /* margin-top: -3rem; */
    list-style: none;
}
.ul-footer a{
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 40px;
    cursor: pointer;
}
/* .inputEmail{
    gap: -1rem;
} */
.section-nav h4{
    margin-top: 2rem;
    font-size: 18px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.section-nav p{
    font-size: 16px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.email-add{
    width: 200px;
    height: 40px;
    font-size: large;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
}
.btn-footer{
    height: 44px;
    width: 100px;
    margin-left: -21px;
    border: none;
    outline: none;
    background: #D42E12;
    color: white;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.inner-font{
    padding: 14px;
}
#connect{
    margin-left: -3px;
}
.lonely-footer{
    text-align: center;
    color: white;
}
.copy{
    color: white;
}

@media screen and (max-width: 420px) {
    header{
        background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40), lightblue);
        top: 0;
        left: 0;
        position: relative;
        width: auto;
        display: flex;
        justify-content: start;
        gap: 2rem;
    }
    .header{
        display: grid;
        justify-content: start;
        align-items: center;
        line-height: 0px;
        /* padding: 4px;  */
        gap: 2rem;
        width: auto;
    
    }
    .headerInner{
       display: grid;
       gap: 2rem;
       list-style: none;
    }
    .headerInner a{
        text-decoration: none;
        font-size: 12px;
        color: white;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
    .headerSelect{
        display: grid;
        align-items: center;
        gap: 0.6rem;
        margin-top: -8rem;
        margin-left: 30px;
    }
    .select-proper{
        border: none;
        width: 120px;
        height: 30px;
        font-size: 12px;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40));
        outline: none;
    }
    .select-proper option{
        color: black;
    }

    /* THE SECOND NAV LINK */
.header2{
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
    width: auto;
}
.ul-second{
    display: grid;
    gap: 0.5rem;
    align-items: center;
    list-style: none;
}
.ul-second a{
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}

/* HIDDEN DIVS */
.hovers{
    background: #D42E12;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    height: 30px;
    padding: 0.1px;
    width: 120px;
    border-radius: 4px;
    cursor: pointer;
}
.hidden-div{
    display: none;
    color: black;
    background: white;
}
.hidden-div h5{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.hidden-flex{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10rem;
}
.selectbunch{
    display: flex;
    align-items: center; 
    gap: 4rem;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.div{
    display: none;
    color: black;
    background: white;
   
} 
.dropbtn {
    background-color: #D42E12;
    color: white;
    padding: 1px;
    font-size: 12px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #D42E12;}
.div2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 2rem;
} 
.ubanigeria{
    list-style: none;
}
.ubanigeria a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px; 
    /* gap: 3rem; */
    
}
.innitiative{
    display: flex;
    gap: 3rem;
    align-items: center;
}
/* FIRST HIDDEN DIV */
.btn1{
    display: none; 
    text-align: center;
    background: white;
    line-height: 70px;

}
.btn2{
    width: 120px;
    height: 50px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(198, 197, 197);
}
/* FIRST HIDDEN DIV ENDED HERE */
.personal{
    background: none;
}
.sme{
    margin-left: -40px;
}
.about-hove{
    background: none;
}
.nav2{
    display: grid;
}
.main-logo{
    width: 50px;
    cursor: pointer;
    border-radius: 3px;
}

.nav2 h5{
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    color: white;
    margin-left: -2rem;
}
/* FIRST SECTION */

.first-section{
    margin-top: 1rem; 
   display: grid;
   justify-content: center;
   align-items: center;
   gap: 1rem; 
}
.first-side{
   line-height: 20px;
}
.first-side h3{
   font-size: 20px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
.first-side h5{
   font-size: 15px;
   font-weight: lighter;
   font-family: Arial, Helvetica, sans-serif;
}
.btn-get-started{
   width: 120px;
   height: 30px;
   background: #D42E12;
   color: white;
   font-size: 12px;
   border: none;
   border-radius: 7px;
   cursor: pointer;

}
#img-first{
    width: 200px;
    height: 250px;
}
/* SECOND SECTION */
.second-section{
    display: grid;
    text-align: center;
    width: auto;
    /* line-height: 0px; */
}
.second-section h3{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.second-section h4{
    font-size: 15px;
    margin-top: -12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.img-second-section{
    display: grid;
    justify-content: center;
    width: auto;
}
.img-second{
    width: 320px;
    cursor: pointer;
}
/* THIRD SECTION FOR SUPPORT */
.texts{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    text-align: center;
    width: auto;
}
.text-control{
    width: 250px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* THE COVER picture */
.ubafifth{
    display: grid;
    justify-content: center;
    width: auto;
}
.ubafifth-img{
    margin-top: -2rem;
    width: 300px;
}
/* FOURTH SECTION */
.download{
    display: grid;
    justify-content: center;
    align-items: center;
    width: auto;
}
.download-btn{
    display: grid;
    justify-content: center;
    align-items: center;
}
.download-btn h4{
    font-size: 20px;
    text-align: center;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn h5{
    margin-top: -1rem;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn button{
   margin-left: 70px;
    width: 120px;
    height: 30px;
    background: #D42E12;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.img-fourth{
    width: 300px;
}
/* ANOTHER SECTION */
.section-help{
    display: grid;
    justify-content: center;
    text-align: center;
  margin-bottom: 4rem;
}
.section-help h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-help p{
    margin-top: -0.4rem;
    width: 250px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* FIFTH SECTION */
.questions{
    display: grid;
    justify-content: center;
    gap: 1rem;
    width: auto;
}
.img-question{
    display: grid;
    justify-content: center;
}
.img-fifth{
    width: 300px;
}
.migration-heading{
    display: grid;
    justify-content: center;
    gap: 2rem;
}
.btns{
    width: 160px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    box-shadow: 0.3px 0.3px 0.3px 0.5px rgb(176, 172, 172);
    cursor: pointer;
}
.btns:hover{
    padding: 4px;
    text-transform: uppercase;
    color: red;
}
.mig-questions{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    line-height: 20px;
}
.mig-questions h2{
    margin-top: 3rem;
    margin-bottom: -0.5rem;
}
.mig-questions p{
    font-size: 15px;
}
/* FOOTER HEADING */
.f-heading{
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    gap: 1rem;
    background: #D42E12;
    width: auto;
}
.f-heading h3{
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
footer{
    background: linear-gradient(rgb(0, 0, 0), rgb(62, 55, 55));
    width: auto;
}
.footer-container{
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 6rem;
    color: white;
    width: auto;
}
.section-nav{
    display: grid;
    line-height: 20px;
}

.section-nav h3{
    margin-left: 35px;
    margin-bottom: -0.7rem;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ul-footer{
    /* margin-top: -3rem; */
    list-style: none;
}
.ul-footer a{
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 20px;
    cursor: pointer;
}
/* .inputEmail{
    gap: -1rem;
} */
.section-nav h4{
    margin-top: 2rem;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.section-nav p{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 250px;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.img-footer{
    display: flex;
    gap: 0.3rem;
}
.email-add{
    width: 170px;
    height: 30px;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
}
.btn-footer{
    height: 34px;
    width: 80px;
    margin-left: -21px;
    border: none;
    outline: none;
    background: #D42E12;
    color: white;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.inner-font{
    padding: 14px;
}
#connect{
    margin-left: 33px;
    font-size: 18px;
}
.lonely-footer{
    display: grid;
    justify-content: center;
    width: auto;
    text-align: center;
    color: white;
}
.lonely-footer p{
    font-size: 15px;
    width: 250px;
}
.copy{
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
    width: auto;
}
.copy p{
    font-size: 15px;
    width: 250px;
}
}
@media screen and (min-width: 421px) {
    header{
        background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40), lightblue);
        top: 0;
        left: 0;
        position: relative;
        width: auto;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .header{
        display: grid;
        justify-content: start;
        align-items: center;
        line-height: 0px;
        /* padding: 4px;  */
        gap: 1rem;
        width: auto;
    
    }
    .headerInner{
       display: grid;
       gap: 2rem;
       list-style: none;
       /* line-height: 30px; */
    }
    .headerInner a{
        text-decoration: none;
        font-size: 13px;
        color: white;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
    .headerSelect{
        display: grid;
        align-items: center;
        gap: 1rem;
        margin-top: -6rem;
        margin-left: 30px;
    }
    .select-proper{
        border: none;
        width: 120px;
        height: 30px;
        font-size: 13px;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40));
        outline: none;
    }
    .select-proper option{
        color: black;
    }

    /* THE SECOND NAV LINK */
.header2{
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
    width: auto;
}
.ul-second{
    display: grid;
    gap: 0.5rem;
    align-items: center;
    list-style: none;
}
.ul-second a{
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}

/* HIDDEN DIVS */
.hovers{
    background: #D42E12;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    height: 30px;
    padding: 0.1px;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
}
.hidden-div{
    display: none;
    color: black;
    background: white;
}
.hidden-div h5{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.hidden-flex{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10rem;
}
.selectbunch{
    display: flex;
    align-items: center; 
    gap: 4rem;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.div{
    display: none;
    color: black;
    background: white;
   
} 
.dropbtn {
    background-color: #D42E12;
    color: white;
    padding: 1px;
    font-size: 12px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #D42E12;}
.div2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 2rem;
} 
.ubanigeria{
    list-style: none;
}
.ubanigeria a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px; 
    /* gap: 3rem; */
    
}
.innitiative{
    display: flex;
    gap: 3rem;
    align-items: center;
}
/* FIRST HIDDEN DIV */
.btn1{
    display: none; 
    text-align: center;
    background: white;
    line-height: 70px;

}
.btn2{
    width: 120px;
    height: 50px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(198, 197, 197);
}
/* FIRST HIDDEN DIV ENDED HERE */
.personal{
    background: none;
}
.sme{
    margin-left: -40px;
}
.about-hove{
    background: none;
}
.nav2{
    display: grid;
}
.main-logo{
    width: 70px;
    cursor: pointer;
    border-radius: 3px;
}

.nav2 h5{
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    color: white;
    margin-left: -2rem;
}
/* FIRST SECTION */

.first-section{
    margin-top: 1rem; 
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem; 
}
.first-side{
   line-height: 20px;
}
.first-side h3{
   font-size: 20px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
.first-side h5{
   font-size: 15px;
   font-weight: lighter;
   font-family: Arial, Helvetica, sans-serif;
}
.btn-get-started{
   width: 120px;
   height: 30px;
   background: #D42E12;
   color: white;
   font-size: 12px;
   border: none;
   border-radius: 7px;
   cursor: pointer;

}
#img-first{
    width: 230px;
    height: 250px;
}
/* SECOND SECTION */
.second-section{
    display: grid;
    text-align: center;
    width: auto;
    /* line-height: 0px; */
}
.second-section h3{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.second-section h4{
    font-size: 15px;
    margin-top: -12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.img-second-section{
    display: grid;
    justify-content: center;
    width: auto;
}
.img-second{
    width: 420px;
    cursor: pointer;
}
/* THIRD SECTION FOR SUPPORT */
.texts{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    text-align: center;
    width: auto;
}
.text-control{
    width: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* THE COVER picture */
.ubafifth{
    display: grid;
    justify-content: center;
    width: auto;
}
.ubafifth-img{
    margin-top: -2rem;
    width: 420px;
}
/* FOURTH SECTION */
.download{
    display: grid;
    justify-content: center;
    align-items: center;
    width: auto;
}
.download-btn{
    display: grid;
    justify-content: center;
    align-items: center;
}
.download-btn h4{
    font-size: 20px;
    text-align: center;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn h5{
    margin-top: -1rem;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn button{
   margin-left: 130px;
    width: 120px;
    height: 30px;
    background: #D42E12;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.img-fourth{
    width: 400px;
}
/* ANOTHER SECTION */
.section-help{
    display: grid;
    justify-content: center;
    text-align: center;
  margin-bottom: 4rem;
}
.section-help h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-help p{
    margin-top: -0.4rem;
    width: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* FIFTH SECTION */
.questions{
    display: grid;
    justify-content: center;
    gap: 1rem;
    width: auto;
}
.img-question{
    display: grid;
    justify-content: center;
}
.img-fifth{
    width: 400px;
}
.migration-heading{
    display: grid;
    justify-content: center;
    gap: 2rem;
}
.btns{
    width: 160px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    box-shadow: 0.3px 0.3px 0.3px 0.5px rgb(176, 172, 172);
    cursor: pointer;
}
.btns:hover{
    padding: 4px;
    text-transform: uppercase;
    color: red;
}
.mig-questions{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 400px;
    line-height: 20px;
}
.mig-questions h2{
    margin-top: 3rem;
    margin-bottom: -0.5rem;
}
.mig-questions p{
    font-size: 18px;
}
/* FOOTER HEADING */
.f-heading{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    background: #D42E12;
    width: auto;
}
.f-heading h3{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
footer{
    background: linear-gradient(rgb(0, 0, 0), rgb(62, 55, 55));
    width: auto;
}
.footer-container{
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 6rem;
    color: white;
    width: auto;
    /* margin-left: 200px; */
}
.section-nav{
    display: grid;
    line-height: 25px;
    margin-left: 50px;
}

.section-nav h3{
    margin-left: 35px;
    margin-bottom: -0.7rem;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ul-footer{
    /* margin-top: -3rem; */
    list-style: none;
}
.ul-footer a{
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 20px;
    cursor: pointer;
}
/* .inputEmail{
    gap: -1rem;
} */
.section-nav h4{
    margin-top: 2rem;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.section-nav p{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 350px;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.img-footer{
    display: flex;
    gap: 0.3rem;
}
.email-add{
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
}
.btn-footer{
    height: 34px;
    width: 100px;
    margin-left: -21px;
    border: none;
    outline: none;
    background: #D42E12;
    color: white;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.inner-font{
    padding: 14px;
}
#connect{
    margin-left: 33px;
    font-size: 18px;
}
.lonely-footer{
    display: grid;
    justify-content: center;
    width: auto;
    text-align: center;
    color: white;
}
.lonely-footer p{
    font-size: 15px;
    width: 350px;
}
.copy{
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
    width: auto;
}
.copy p{
    font-size: 15px;
    width: 350px;
}
}
@media screen and (min-width: 821px) {
    header{
        background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40), lightblue);
        top: 0;
        left: 0;
        position: relative;
        width: auto;
        display: flex;
        justify-content: space-around;
        gap: 4rem;
    }
    .header{
        display: grid;
        justify-content: start;
        align-items: center;
        line-height: 0px;
        /* padding: 4px;  */
        gap: 1rem;
        width: auto;
    
    }
    .headerInner{
       display: grid;
       gap: 2rem;
       list-style: none;
       /* line-height: 30px; */
    }
    .headerInner a{
        text-decoration: none;
        font-size: 16px;
        color: white;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
    .headerSelect{
        display: grid;
        align-items: center;
        gap: 1rem;
        margin-top: -6rem;
        margin-left: 30px;
    }
    .select-proper{
        border: none;
        width: 160px;
        height: 30px;
        font-size: 16px;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40));
        outline: none;
    }
    .select-proper option{
        color: black;
    }

    /* THE SECOND NAV LINK */
.header2{
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
    width: auto;
}
.ul-second{
    display: grid;
    gap: 0.5rem;
    align-items: center;
    list-style: none;
}
.ul-second a{
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}

/* HIDDEN DIVS */
.hovers{
    background: #D42E12;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    height: 30px;
    padding: 0.1px;
    width: 220px;
    border-radius: 4px;
    cursor: pointer;
}
.hidden-div{
    display: none;
    color: black;
    background: white;
}
.hidden-div h5{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.hidden-flex{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10rem;
}
.selectbunch{
    display: flex;
    align-items: center; 
    gap: 4rem;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.div{
    display: none;
    color: black;
    background: white;
   
} 
.dropbtn {
    background-color: #D42E12;
    color: white;
    padding: 1px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #D42E12;}
.div2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 2rem;
} 
.ubanigeria{
    list-style: none;
}
.ubanigeria a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px; 
    /* gap: 3rem; */
    
}
.innitiative{
    display: flex;
    gap: 3rem;
    align-items: center;
}
/* FIRST HIDDEN DIV */
.btn1{
    display: none; 
    text-align: center;
    background: white;
    line-height: 70px;

}
.btn2{
    width: 120px;
    height: 50px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(198, 197, 197);
}
/* FIRST HIDDEN DIV ENDED HERE */
.personal{
    background: none;
}
.sme{
    margin-left: -40px;
}
.about-hove{
    background: none;
}
.nav2{
    display: grid;
}
.main-logo{
    width: 100px;
    cursor: pointer;
    border-radius: 3px;
}

.nav2 h5{
    font-size: 16px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    color: white;
    margin-left: -2rem;
}
/* FIRST SECTION */

.first-section{
    margin-top: 1rem; 
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 3rem; 
}
.first-side{
   line-height: 20px;
}
.first-side h3{
   font-size: 25px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
.first-side h5{
   font-size: 18px;
   font-weight: lighter;
   font-family: Arial, Helvetica, sans-serif;
}
.btn-get-started{
   width: 160px;
   height: 30px;
   background: #D42E12;
   color: white;
   font-size: 16px;
   border: none;
   border-radius: 7px;
   cursor: pointer;

}
#img-first{
    width: 300px;
    height: 315px;
}
/* SECOND SECTION */
.second-section{
    display: grid;
    text-align: center;
    width: auto;
    /* line-height: 0px; */
}
.second-section h3{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.second-section h4{
    font-size: 20px;
    margin-top: -12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.img-second-section{
    display: flex;
    justify-content: center;
    width: auto;
}
.img-second{
    width: 270px;
    cursor: pointer;
}
/* THIRD SECTION FOR SUPPORT */
.texts{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    gap: 1rem;
}
.text-control{
    width: 300px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* THE COVER picture */
.ubafifth{
    display: grid;
    justify-content: center;
    width: auto;
}
.ubafifth-img{
    margin-top: -2rem;
    width: 800px;
}
/* FOURTH SECTION */
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.download-btn{
    display: grid;
    justify-content: center;
    align-items: center;
}
.download-btn h4{
    font-size: 20px;
    text-align: center;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn h5{
    margin-top: -1rem;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn button{
   margin-left: 130px;
    width: 120px;
    height: 30px;
    background: #D42E12;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.img-fourth{
    width: 400px;
}
/* ANOTHER SECTION */
.section-help{
    display: grid;
    justify-content: center;
    text-align: center;
  margin-bottom: 4rem;
}
.section-help h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-help p{
    margin-top: -0.4rem;
    width: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* FIFTH SECTION */
.questions{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: auto;
}
.img-question{
    display: grid;
    justify-content: center;
}
.img-fifth{
    width: 250px;
}
.migration-heading{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
.btns{
    width: 120px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    box-shadow: 0.3px 0.3px 0.3px 0.5px rgb(176, 172, 172);
    cursor: pointer;
}
.btns:hover{
    padding: 1px;
    text-transform: lowercase;
    color: red;
}
.mig-questions{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 400px;
    line-height: 20px;
}
.mig-questions h2{
    margin-top: 3rem;
    margin-bottom: -0.5rem;
}
.mig-questions p{
    font-size: 16px;
}
/* FOOTER HEADING */
.f-heading{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    background: #D42E12;
    width: auto;
}
.f-heading h3{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
footer{
    background: linear-gradient(rgb(0, 0, 0), rgb(62, 55, 55));
    width: auto;
}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 6rem;
    color: white;
    width: auto;
    /* margin-left: 200px; */
}
.section-nav{
    display: grid;
    line-height: 20px;
    margin-left: 0.1px;
}

.section-nav h3{
    margin-left: 35px;
    margin-bottom: -0.7rem;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ul-footer{
    /* margin-top: -3rem; */
    list-style: none;
}
.ul-footer a{
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 20px;
    cursor: pointer;
}
/* .inputEmail{
    gap: -1rem;
} */
.section-nav h4{
    margin-top: 2rem;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.section-nav p{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 250px;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.img-footer{
    display: flex;
    gap: 0.3rem;
}
.email-add{
    width: 140px;
    height: 30px;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
}
.btn-footer{
    height: 34px;
    width: 80px;
    margin-left: -21px;
    border: none;
    outline: none;
    background: #D42E12;
    color: white;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.inner-font{
    padding: 1px;
}
#connect{
    margin-left: 3px;
    font-size: 18px;
}
.lonely-footer{
    display: grid;
    justify-content: center;
    width: auto;
    text-align: center;
    color: white;
}
.lonely-footer p{
    font-size: 15px;
    width: 500px;
}
.copy{
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
    width: auto;
}
.copy p{
    font-size: 15px;
    width: 400px;
}
}
@media screen and (min-width: 1001px) {
    header{
        background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40), lightblue);
        top: 0;
        left: 0;
        position: relative;
        width: auto;
        display: grid;
        justify-content: center;
        gap: 1rem;
    }
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0px;
        /* padding: 4px;  */
        gap: 1rem;
        width: 100%;
    
    }
    .headerInner{
       display: flex;
       justify-content: center;
       gap: 1rem;
       list-style: none;
       /* line-height: 30px; */
    }
    .headerInner a{
        text-decoration: none;
        font-size: 14px;
        color: white;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
    .headerSelect{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 0rem;
        margin-left: 1px;
    }
    .select-proper{
        border: none;
        width: 120px;
        height: 30px;
        font-size: 12px;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background: linear-gradient(rgb(5, 5, 40), rgb(19, 19, 40));
        outline: none;
    }
    .select-proper option{
        color: black;
    }
    #fasSearch{
        color: white;
    }

    /* THE SECOND NAV LINK */
.header2{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: auto;
}
.ul-second{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
}
.ul-second a{
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}

/* HIDDEN DIVS */
.hovers{
    background: #D42E12;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    height: 30px;
    padding: 0.1px;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
}
.hidden-div{
    display: none;
    color: black;
    background: white;
}
.hidden-div h5{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.hidden-flex{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10rem;
}
.selectbunch{
    display: flex;
    align-items: center; 
    gap: 4rem;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.div{
    display: none;
    color: black;
    background: white;
   
} 
.dropbtn {
    background-color: #D42E12;
    color: white;
    padding: 1px;
    font-size: 12px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #D42E12;}
.div2{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 2rem;
} 
.ubanigeria{
    list-style: none;
}
.ubanigeria a{
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px; 
    /* gap: 3rem; */
    
}
.innitiative{
    display: flex;
    gap: 3rem;
    align-items: center;
}
/* FIRST HIDDEN DIV */
.btn1{
    display: none; 
    text-align: center;
    background: white;
    line-height: 70px;

}
.btn2{
    width: 120px;
    height: 50px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(198, 197, 197);
}
/* FIRST HIDDEN DIV ENDED HERE */
.personal{
    background: none;
}
.sme{
    margin-left: 1px;
    font-size: 12px;
}
.about-hove{
    background: none;
}
.nav2{
    display: grid;
}
.main-logo{
    width: 80px;
    cursor: pointer;
    border-radius: 3px;
}

.nav2 h5{
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    color: white;
    margin-left: -1rem;
}
/* FIRST SECTION */

.first-section{
    margin-top: 1rem; 
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 3rem; 
}
.first-side{
   line-height: 20px;
}
.first-side h3{
   font-size: 25px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
.first-side h5{
   font-size: 18px;
   font-weight: lighter;
   font-family: Arial, Helvetica, sans-serif;
}
.btn-get-started{
   width: 160px;
   height: 30px;
   background: #D42E12;
   color: white;
   font-size: 16px;
   border: none;
   border-radius: 7px;
   cursor: pointer;

}
#img-first{
    width: 320px;
    height: 329px;
}
/* SECOND SECTION */
.second-section{
    display: grid;
    text-align: center;
    width: auto;
    /* line-height: 0px; */
}
.second-section h3{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.second-section h4{
    font-size: 20px;
    margin-top: -12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.img-second-section{
    display: flex;
    justify-content: center;
    width: auto;
}
.img-second{
    width: 340px;
    cursor: pointer;
}
/* THIRD SECTION FOR SUPPORT */
.texts{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    gap: 2rem;
}
.text-control{
    width: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* THE COVER picture */
.ubafifth{
    display: grid;
    justify-content: center;
    width: auto;
}
.ubafifth-img{
    margin-top: -2rem;
    width: 100%;
}
/* FOURTH SECTION */
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.download-btn{
    display: grid;
    justify-content: center;
    align-items: center;
}
.download-btn h4{
    font-size: 25px;
    text-align: center;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn h5{
    margin-top: -1rem;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.download-btn button{
   margin-left: 130px;
    width: 160px;
    height: 30px;
    background: #D42E12;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.img-fourth{
    width: 550px;
}
/* ANOTHER SECTION */
.section-help{
    display: grid;
    justify-content: center;
    text-align: center;
  margin-bottom: 4rem;
}
.section-help h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-help p{
    margin-top: -0.4rem;
    width: 400px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* FIFTH SECTION */
.questions{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: auto;
}
.img-question{
    display: grid;
    justify-content: center;
}
.img-fifth{
    width: 350px;
}
.migration-heading{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    width: auto;
}
.btns{
    width: 140px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    box-shadow: 0.3px 0.3px 0.3px 0.5px rgb(176, 172, 172);
    cursor: pointer;
}
.btns:hover{
    padding: 1px;
    text-transform: lowercase;
    color: red;
}
.mig-questions{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 400px;
    line-height: 20px;
}
.mig-questions h2{
    margin-top: 3rem;
    margin-bottom: -0.5rem;
}
.mig-questions p{
    font-size: 17px;
}
/* FOOTER HEADING */
.f-heading{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    background: #D42E12;
    width: auto;
}
.f-heading h3{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
footer{
    background: linear-gradient(rgb(0, 0, 0), rgb(62, 55, 55));
    width: auto;
}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 6rem;
    color: white;
    width: auto;
    /* margin-left: 200px; */
}
.section-nav{
    display: grid;
    line-height: 20px;
    margin-left: 0.1px;
}

.section-nav h3{
    margin-left: 35px;
    margin-bottom: -0.7rem;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ul-footer{
    /* margin-top: -3rem; */
    list-style: none;
}
.ul-footer a{
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 20px;
    cursor: pointer;
}
/* .inputEmail{
    gap: -1rem;
} */
.section-nav h4{
    margin-top: 2rem;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.section-nav p{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 250px;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.img-footer{
    display: flex;
    gap: 0.3rem;
}
.email-add{
    width: 140px;
    height: 30px;
    font-size: 12px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
}
.btn-footer{
    height: 34px;
    width: 80px;
    margin-left: -21px;
    border: none;
    outline: none;
    background: #D42E12;
    color: white;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.inner-font{
    padding: 1px;
}
#connect{
    margin-left: 3px;
    font-size: 18px;
}
.lonely-footer{
    display: grid;
    justify-content: center;
    width: auto;
    text-align: center;
    color: white;
}
.lonely-footer p{
    font-size: 15px;
    width: 500px;
}
.copy{
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
    width: auto;
}
.copy p{
    font-size: 15px;
    width: 400px;
}
}